
<div class="col-md-12 column" style="background-color: darkslategrey">
 <div class="row">
 <div class="col-md-offset-2 col-md-2">
 <div class="foot-1">
 <h4>Quick Links</h4>
 <ul>
 <li><a href="{% url 'home' %}" title="Home">Home</a></li>
 <li><a href="#" title="About Us">About Us</a></li>
 <li><a href="#" title="FAQs">FAQs</a></li>
 <li><a href="#" title="Services">Services</a></li>
 <li><a href="#" title="Contact">Contact</a></li>
 </ul>
 </div>
 </div>

 <div class="col-md-2">
 <div class="foot-1">
 <h4>Services</h4>
 <ul>
 <li><a href="#" title="Services">一个可爱的服务</a></li>
 <li><a href="#" title="Services">一个可爱的服务</a></li>
 <li><a href="#" title="Services">一个可爱的服务</a></li>
 <li><a href="#" title="Services">一个可爱的服务</a></li>
 <li><a href="#" title="Services">一个可爱的服务</a></li>
 </ul>
 </div>
 </div>

 <div class="col-md-2">
 <div class="foot-1">
 <h4>Address</h4>
 <ul>
 <li><a href="#" target="_blank">daba0007@163.com</a></li>
 <li><a href="#" target="_blank">(01) 123 456 789</a></li>
 </ul>
 </div>
 </div>

 <div class="col-md-2">
 <div class="foot-1">
 <h4>Follow Us</h4>
 <div class="social">
<i href="#" class="iconfont icon-tian7_facebook" style="font-size: 30px"></i>
<i href="#" class="iconfont icon-gpluscircled" style="font-size: 30px"></i>
<i href="#" class="iconfont icon-twitter3" style="font-size: 30px"></i>
 </div>
 </div>
 </div>

 </div>
 </div>